#function

In [ ]:
#grouping satement(s) in one block to perform specific task
#sum, diff ,prd, div,rem,sqrt,pow,and others
#input, process,output
#write on file,read from file
#save on database, and retrive from database

In [1]:
# how to create a function
def function_name():
    #statements
    pass
def f1():
    print("hello from broadway")
    
def calc_sum(n1,n2):
    print(n1+n2)
    
def calc_sum2(n1,n2):
    return n1+n2

In [ ]:
#calling function
#for i in range(10):
#    f1()

num1 = 5
num2 = 7
calc_sum(num1,num2)# call

num1 = input(" enter first no :")
num2 = input(" enter second no : ")
num1 = int(num1)
num2 = int(num2)
calc_sum(num1,num2)#call

res =calc_sum2(6,7)
print(res)

In [ ]:
#task 6
#enter id : _1
#enter Name : _raj
# enter sub1 : _56
#enter sub2 : _54
#enter sub3 :  _45
#total :155
# average : 51.xxxx
# result : pass
# create a funcytions  to solve the result processing system.

In [25]:
#fumctions
def f1():
    print("hello from f1")
def f2(num1,num2):
    print("num1+num2")
def f3():
    return 10+34
def f4(num1,num2):
    return num1+num2
def f5(num1=0,num2=0):
    return num1+num2

In [29]:
#f1()
#f2("1","Nepal")
#f2(1,2)
#f3()
#var1 = f3()
#print(var1)
#result =f4(4,8)
#print(result)
#res =f5(num1=7,num2=8)
#print(res)
#res =f5(num2=9,num1=4)
#print(res)
#res =f5(num2=5)
#print(res)
res =f5(num1=7)
print(res)

7